@using Microsoft.AspNetCore.Identity
@using PlacementManagementSystem.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav align-items-center">
        <li class="nav-item mr-2">
            @{ var currentUser = UserManager.GetUserAsync(User).Result; }
            @if (currentUser != null && currentUser.UserType == UserType.Student)
            {
                <a class="btn btn-link btn-sm" asp-controller="Student" asp-action="Details">Profile</a>
            }
            else if (currentUser != null && currentUser.UserType == UserType.Company)
            {
                <a class="btn btn-link btn-sm" asp-controller="Company" asp-action="MyJobs">My Jobs</a>
            }
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-outline-primary btn-sm">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <div class="d-flex align-items-center">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-sm">Login</a>
    </div>
}
